/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@700&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    
font-family: "Poppins",sans-serif;
}
body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:root{
    --text-color:#000000;
    --main-color:#83b735;
    --light-text: rgb(217,215,215);
    --white:rgb(254,253,253);
}
section{
    padding: 50px 10%;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
}
.navbar .brand{
    padding: 0.75rem 1rem;
    color: var(--white);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    
}
.navbar-links ul{
    margin: 0;
    padding-right: 1rem;
    display: flex;
    gap: 1rem;
    list-style-type: none;
    font-family: sans-serif;
    
}
.navbar-links ul li a{
    color: var(--light-text);
    text-decoration: none;
}
#reponsiveMenuToggleButton{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display:none;
    position: absolute;
    top: 0;
    right: 0;
}
#reponsiveMenuToggleButton svg{
    height: 1.5rem;
    width: 1.5rem;
    color: var(--light-text);
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}
#reponsiveMenuToggleButton .openicon{
    display: block;
}
#reponsiveMenuToggleButton .closeicon{
    display: none;
}
#reponsiveMenuToggleButton.open .openicon{
    display: none;
}
#reponsiveMenuToggleButton.open .closeicon{
    display:block ;
}

.home{
    width:100%;
    min-height: 100vh;
    background-image:url(pexels-andrew-neel-2312369.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position :right;
    background-attachment: fixed;
    display:flex;
    align-items:center;

}
.home-text h1{
    font-size:2.7rem;

}
.home-text p{
    font-size: 0.938rem;
    margin: 0.4rem 0 1.8rem;
}
.home-text span{
    color: var(--main-color);
}
.btn{
    padding: 10px 14px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px;
}
.btn:hover{
    background: #8fc53d;
}
.heading span{
    font-size: 14px;
    font-weight: 500;
    text-transform:uppercase ;
    color: var(--main-color);
    }

.shop-container, .new-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box{
    position: relative;
    box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
    border-radius: 44px 4px 4px 4px;
   overflow: hidden;
}
.box-img img{
    width: 100%;
    height: 400px;
    
    cursor: pointer;
    border-radius: 70px 4px 0,0;
    max-width: 100%;
    
    
    
}
.heading{
    transition: 0.5s;
}
.title-price{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.title-price h3{
    font-size: 1rem;
    font-weight: 600;
}
.box span{
    font-size:1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color: var(--main-color);
}
.stars .bx{
    color: var(--main-color);

}
.box .bx-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    background: var(--main-color);
}
.box .bx-cart:hover{
    background: #8fc53d;
}
.new-container .box{
    border-radius: 4px;
}
.new-container .box .box-img{
    border-radius: 4px;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.about-img img{
    width: 80%;
    border-radius: 10px;
    object-fit: contain;
}
.about-text span{
font-size: 14px;
font-weight: 500;
text-transform:uppercase ;
color: var(--main-color);
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}
.brands-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}
.brands-container img{
    width: 100px;
    filter: grayscale(1);
}
.brands-container img:hover{
    width: 100px;
    filter: grayscale(0);
}
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(WhatsApp\ Image\ 2023-04-01\ at\ 10.03.35\ AM.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.newsletter h2{
    color: #fff;
}
.news-box{
    display: flex;
    align-items: center;
    margin-top: 2rem;

}
.news-box input{
    width: 260px;
    height: 44px;
    border: none;
    outline: none;
    background: #fff;
    padding: 10px;
}
.news-box .btn{
    height: 44px;
    padding: 11px;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,auto));
    gap: 1rem;
    color: #000000;
}

.footer-box h2{
font-size: 1.2rem;
font-weight: 600;
margin-bottom: 10px;

}
.footer-box span{
    color: var(--main-color);
}
.footer-box p{
    font: size 0.938rem;
    margin-bottom: 10px;
}
.social{
    display: flex;
    align-items: center;

}
.social a{
    font-size: 24px;
    margin-right: 10px;
    color: var(--text-color);
}
.social a:hover{
    color: var(--main-color);
}
.footer-box h3{
    font-weight: 500;
    margin-bottom: 10px;
}
.footer-box li a{
    color: var(--text-color);
}
.footer-box li a:hover{
    color: var(--main-color);
}
.contact-info span{
    color: var(--text-color);
}
.copyright{
    padding: 20px;
    text-align: center;
}
/* responsiveness*/
@media screen and (max-width:600px){
    #reponsiveMenuToggleButton{
        display: block;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar-links{
        width: 100%;
        display: none;
    }
    .navbar-links.open{
        display: block;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
        padding: 1rem;
        background-color: rgb(0,0,0,0.8);
    }
    
}

